body {
  background-color: cadetblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 2em;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#countLabelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: darkslategray;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons:hover {
  background-color: darkcyan;
}
